# Global Owners
* @JourneyOfLife

# Backend
/backend/ @JourneyOfLife

# Frontend
/frontend/ @JourneyOfLife

# Infrastructure
/infra/ @JourneyOfLife

# AI
/ai/ @JourneyOfLife

# Countries
/countries/ @JourneyOfLife

# Entities
/entities/ @JourneyOfLife

# Operations
/ops/ @JourneyOfLife

# Tools
/tools/ @JourneyOfLife
