openapi: 3.0.3
info:
  title: JOL-HUB API
  description: |
    Journey Of Life (JOL) Enterprise API for managing religious institution websites 
    across 27 EU countries. This API provides access to organization management, 
    content management, user administration, and country-specific features.
    
    ## Authentication
    
    All API endpoints require authentication using OAuth 2.0 Bearer tokens.
    Include the token in the Authorization header:
    
    ```
    Authorization: Bearer <your_access_token>
    ```
    
    ## Rate Limiting
    
    API requests are limited to:
    - 100 requests per minute per user
    - 1000 requests per minute per service account
    
    ## Versioning
    
    API version is specified in the URL path (e.g., /api/v1/)
  version: 1.0.0
  contact:
    name: JOL-HUB API Support
    email: api@journeyoflife.org
    url: https://api.journeyoflife.org
  license:
    name: Proprietary
    url: https://journeyoflife.org/terms

servers:
  - url: https://api.journeyoflife.org/api/v1
    description: Production server
  - url: https://staging-api.journeyoflife.org/api/v1
    description: Staging server
  - url: http://localhost:8000/api/v1
    description: Local development server

tags:
  - name: Authentication
    description: User authentication and authorization endpoints
  - name: Organizations
    description: Manage religious institutions and organizations
  - name: Users
    description: User account management
  - name: Content
    description: Website content management
  - name: Countries
    description: Country-specific configurations and data
  - name: Donations
    description: Payment and donation processing
  - name: Analytics
    description: Usage statistics and reporting

paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user credentials and return access tokens
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many failed attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Obtain a new access token using a refresh token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Invalidate current tokens and terminate session
      operationId: logoutUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully logged out
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /organizations:
    get:
      tags:
        - Organizations
      summary: List organizations
      description: Retrieve a paginated list of religious institutions
      operationId: listOrganizations
      security:
        - bearerAuth: []
      parameters:
        - name: country
          in: query
          schema:
            type: string
            enum: [LT, LV, EE, FI, SE, NO, DK, DE, PL, CZ, SK, AT, HU, SI, HR, IT, ES, PT, FR, BE, NL, LU, IE, UK, GR, CY, MT]
          description: Filter by country code (ISO 3166-1 alpha-2)
        - name: type
          in: query
          schema:
            type: string
            enum: [church, monastery, chapel, shrine, cathedral, parish]
          description: Filter by organization type
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, pending]
          description: Filter by status
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Items per page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    post:
      tags:
        - Organizations
      summary: Create organization
      description: Register a new religious institution
      operationId: createOrganization
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreate'
      responses:
        '201':
          description: Organization created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /organizations/{org_id}:
    get:
      tags:
        - Organizations
      summary: Get organization
      description: Retrieve details of a specific organization
      operationId: getOrganization
      security:
        - bearerAuth: []
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Organization unique identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    put:
      tags:
        - Organizations
      summary: Update organization
      description: Update all fields of an organization
      operationId: updateOrganization
      security:
        - bearerAuth: []
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdate'
      responses:
        '200':
          description: Organization updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    patch:
      tags:
        - Organizations
      summary: Partially update organization
      description: Update specific fields of an organization
      operationId: patchOrganization
      security:
        - bearerAuth: []
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdate'
      responses:
        '200':
          description: Organization updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    delete:
      tags:
        - Organizations
      summary: Delete organization
      description: Soft delete an organization (marks as inactive)
      operationId: deleteOrganization
      security:
        - bearerAuth: []
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Organization deleted successfully
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /organizations/{org_id}/website:
    get:
      tags:
        - Organizations
        - Content
      summary: Get organization website
      description: Retrieve the website configuration and content for an organization
      operationId: getOrganizationWebsite
      security:
        - bearerAuth: []
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Website'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users:
    get:
      tags:
        - Users
      summary: List users
      description: Retrieve a list of users with filtering options
      operationId: listUsers
      security:
        - bearerAuth: []
      parameters:
        - name: organization_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by organization
        - name: role
          in: query
          schema:
            type: string
            enum: [admin, editor, viewer, member]
          description: Filter by role
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, suspended]
          description: Filter by status
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    post:
      tags:
        - Users
      summary: Create user
      description: Create a new user account
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{user_id}:
    get:
      tags:
        - Users
      summary: Get user
      description: Retrieve details of a specific user
      operationId: getUser
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    put:
      tags:
        - Users
      summary: Update user
      operationId: updateUser
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    delete:
      tags:
        - Users
      summary: Delete user
      operationId: deleteUser
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: User deleted successfully
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /content/pages:
    get:
      tags:
        - Content
      summary: List pages
      description: Retrieve website pages with filtering
      operationId: listPages
      security:
        - bearerAuth: []
      parameters:
        - name: organization_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, published, archived]
        - name: language
          in: query
          schema:
            type: string
          description: ISO 639-1 language code
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    post:
      tags:
        - Content
      summary: Create page
      operationId: createPage
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageCreate'
      responses:
        '201':
          description: Page created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /content/pages/{page_id}:
    get:
      tags:
        - Content
      summary: Get page
      operationId: getPage
      security:
        - bearerAuth: []
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '404':
          description: Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    put:
      tags:
        - Content
      summary: Update page
      operationId: updatePage
      security:
        - bearerAuth: []
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageUpdate'
      responses:
        '200':
          description: Page updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    delete:
      tags:
        - Content
      summary: Delete page
      operationId: deletePage
      security:
        - bearerAuth: []
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Page deleted successfully
        '404':
          description: Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /donations:
    post:
      tags:
        - Donations
      summary: Create donation
      description: Process a donation payment
      operationId: createDonation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DonationCreate'
      responses:
        '201':
          description: Donation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Donation'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Payment failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /donations/{donation_id}:
    get:
      tags:
        - Donations
      summary: Get donation
      operationId: getDonation
      security:
        - bearerAuth: []
      parameters:
        - name: donation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Donation'
        '404':
          description: Donation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /analytics/overview:
    get:
      tags:
        - Analytics
      summary: Get analytics overview
      operationId: getAnalyticsOverview
      security:
        - bearerAuth: []
      parameters:
        - name: organization_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsOverview'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth/login endpoint

  schemas:
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          format: password
          minLength: 8
          example: SecurePassword123!
        mfa_code:
          type: string
          pattern: '^\d{6}$'
          description: Multi-factor authentication code (if enabled)
          example: '123456'

    RefreshTokenRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        refresh_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        token_type:
          type: string
          enum: [Bearer]
        expires_in:
          type: integer
          description: Token expiration time in seconds
          example: 900
        user:
          $ref: '#/components/schemas/User'

    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          example: validation_error
        message:
          type: string
          example: Invalid input data
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string

    Organization:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: Vilnius Cathedral Parish
        type:
          type: string
          enum: [church, monastery, chapel, shrine, cathedral, parish]
        country:
          type: string
          example: LT
        address:
          type: object
          properties:
            street:
              type: string
            city:
              type: string
            postal_code:
              type: string
            country:
              type: string
        contact:
          type: object
          properties:
            email:
              type: string
            phone:
              type: string
            website:
              type: string
        status:
          type: string
          enum: [active, inactive, pending]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OrganizationCreate:
      type: object
      required:
        - name
        - type
        - country
      properties:
        name:
          type: string
          example: Vilnius Cathedral Parish
        type:
          type: string
          enum: [church, monastery, chapel, shrine, cathedral, parish]
        country:
          type: string
          example: LT
        address:
          type: object
          properties:
            street:
              type: string
            city:
              type: string
            postal_code:
              type: string
        contact:
          type: object
          properties:
            email:
              type: string
              format: email
            phone:
              type: string

    OrganizationUpdate:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum: [church, monastery, chapel, shrine, cathedral, parish]
        address:
          type: object
          properties:
            street:
              type: string
            city:
              type: string
            postal_code:
              type: string
        contact:
          type: object
          properties:
            email:
              type: string
              format: email
            phone:
              type: string
            website:
              type: string
              format: uri
        status:
          type: string
          enum: [active, inactive, pending]

    OrganizationList:
      type: object
      properties:
        count:
          type: integer
          example: 150
        next:
          type: string
          nullable: true
          format: uri
        previous:
          type: string
          nullable: true
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/Organization'

    Website:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        domain:
          type: string
          example: vilnius-cathedral.lt
        theme:
          type: string
          example: liturgical-blue
        languages:
          type: array
          items:
            type: string
          example: ['lt', 'en', 'pl']
        default_language:
          type: string
          example: lt
        ssl_enabled:
          type: boolean
        analytics_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum: [admin, editor, viewer, member]
        organization_id:
          type: string
          format: uuid
          nullable: true
        status:
          type: string
          enum: [active, inactive, suspended]
        mfa_enabled:
          type: boolean
        last_login:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UserCreate:
      type: object
      required:
        - email
        - first_name
        - last_name
        - role
      properties:
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum: [admin, editor, viewer, member]
        organization_id:
          type: string
          format: uuid
          nullable: true
        send_invitation:
          type: boolean
          default: true

    UserUpdate:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum: [admin, editor, viewer, member]
        status:
          type: string
          enum: [active, inactive, suspended]

    UserList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'

    Page:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        content:
          type: string
        language:
          type: string
          example: lt
        status:
          type: string
          enum: [draft, published, archived]
        author_id:
          type: string
          format: uuid
        published_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PageCreate:
      type: object
      required:
        - organization_id
        - title
        - slug
        - content
        - language
      properties:
        organization_id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        content:
          type: string
        language:
          type: string
        parent_page_id:
          type: string
          format: uuid
          nullable: true
        template:
          type: string
          example: default

    PageUpdate:
      type: object
      properties:
        title:
          type: string
        slug:
          type: string
        content:
          type: string
        language:
          type: string
        status:
          type: string
          enum: [draft, published, archived]
        template:
          type: string

    PageList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/Page'

    DonationCreate:
      type: object
      required:
        - organization_id
        - amount
        - currency
        - payment_method
      properties:
        organization_id:
          type: string
          format: uuid
        amount:
          type: number
          format: float
          minimum: 0.01
          example: 50.00
        currency:
          type: string
          enum: [EUR, USD, GBP, PLN]
          example: EUR
        payment_method:
          type: string
          enum: [card, bank_transfer, paypal]
        donor_email:
          type: string
          format: email
        donor_name:
          type: string
        recurring:
          type: boolean
          default: false
        frequency:
          type: string
          enum: [weekly, monthly, yearly]
          nullable: true
        gift_aid:
          type: boolean
          default: false
        dedicated_to:
          type: string
          nullable: true
        message:
          type: string
          nullable: true

    Donation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        amount:
          type: number
          format: float
        currency:
          type: string
        status:
          type: string
          enum: [pending, completed, failed, refunded]
        payment_method:
          type: string
        transaction_id:
          type: string
          nullable: true
        donor_email:
          type: string
        donor_name:
          type: string
          nullable: true
        recurring:
          type: boolean
        created_at:
          type: string
          format: date-time
        processed_at:
          type: string
          format: date-time
          nullable: true

    AnalyticsOverview:
      type: object
      properties:
        organization_id:
          type: string
          format: uuid
        period:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
        page_views:
          type: integer
        unique_visitors:
          type: integer
        sessions:
          type: integer
        bounce_rate:
          type: number
          format: float
        avg_session_duration:
          type: integer
          description: Average session duration in seconds
        top_pages:
          type: array
          items:
            type: object
            properties:
              page_id:
                type: string
                format: uuid
              title:
                type: string
              views:
                type: integer
        traffic_sources:
          type: object
          properties:
            direct:
              type: integer
            organic_search:
              type: integer
            social:
              type: integer
            referral:
              type: integer
        geographic_distribution:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
              visitors:
                type: integer

security:
  - bearerAuth: []
